.whatsapp:hover {
  fill: #ffffff;
}

.whatsapp {
  fill: #198754;
}

.btn-green {
  color: #ffffff;
  background-color: #10b981;
}

.btn-outline-gray {
  color: #000000;
  border-color: #808080;
}

.btn-outline-gray:hover {
  color: #da525e;
  background-color: #ffffff;
  border-color: #da525e;
}

.btn-outline-gray:not(:disabled):not(.disabled):active,
.btn-outline-gray:not(:disabled):not(.disabled).active,
.show > .btn-outline-gray.dropdown-toggle {
  color: #ffffff;
  background-color: #da525e;
  border-color: #ffffff;
}

.inline {
  height: 200px;
  min-width: 100%;
}

input[type=radio],
input[type=checkbox] {
  float: left;
}

label {
  display: block;
}